## Step 1: Data Preparation

1.   Load and preprocess the time series data (handling missing values, resampling if needed).
2.   Normalize the dataset (MinMaxScaler or StandardScaler).
3.   Create lagged features to train the LSTM model effectively.
4.   Split the data into training, validation, and test sets.

In [1]:
#Libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt 
import tensorflow as tf
import xgboost
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, GRU,  BatchNormalization
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf, acf, pacf
import numpy as np
import lightgbm as lgb
from sklearn.metrics import mean_squared_error, mean_absolute_error
import pickle
from sklearn.ensemble import RandomForestRegressor
from hydroeval import evaluator, nse, kge
import joblib
from tensorflow.keras.models import save_model

c:\Users\Oluwatobi Aiyelokun\anaconda3\envs\TF310\lib\site-packages\requests\__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

In [2]:
data=pd.read_excel("Water_Level_My_Thuan_station.xlsx", sheet_name='Sheet1')
#data = pd.read_csv("Water_Level_New.csv")
data.head(5)

                  Datetime  Water_Level  Hour  Year  Month  Day
0  1978-01-01 00:00:00 UTC         24.0     0  1978      1    1
1  1978-01-01 01:00:00 UTC          8.0     1  1978      1    1
2  1978-01-01 02:00:00 UTC         -6.0     2  1978      1    1
3  1978-01-01 03:00:00 UTC        -16.0     3  1978      1    1
4  1978-01-01 04:00:00 UTC        -16.0     4  1978      1    1